.reverse {
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: #e96363;
}

/* .block {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(171, 56, 200, 0.304);
    overflow: hidden;
    transform: translateX(420px);
    transition: 0.3s;
}


.block.active {
    transform: translateX(0px);
}

.block.disabled {
    transform: translateX(-420px);
    opacity: 0;
} */